*{
    padding: 0;
    margin: 0;
    /* background-color: antiquewhite; */
}
.form{
    padding: 5vh;
    position: absolute;
    direction: flex;
    flex-direction: column;
    top: 20vh;
    left: 35vw;
    align-items: center;
    width:30vw;
   text-align: justify;
   border-radius: 5vh;
   background-image: linear-gradient(100deg,#3a0505,#920d0d);
   color: rgb(255, 255, 255);
}
.form input{
    padding: 1vh;
    margin: 2vh;
}
.form .submit{
    align-items: center;
    margin-left: 10vw;
    width: 9vw;
    background-color: aqua;
    border-radius: 1vh;
}


@media (max-width:768px){
    .form .role{
        margin: 2.05vh;
    }
    .form .submit{
        margin-left: 10vw;
    }
}


@media (min-width:320px) and (max-width:500px)
{
    .form{
        top:15vh;
        left: 15vw;
        width: 50vw;
    }
    .form input{
        margin: 1vh;
        width: 45vw;
    }
    .form .role{
        width: 29vw;
        margin-left: -6vw;
        margin-top: 2vh;
    }
    .form .submit{
        margin-left: 10vw;
        width: 29vw;
        margin-top: 3vh;
    }
}